.head{
    font-family: bitter ;
    color: rgb(97, 97, 97);
    font-size: 40px;
}
.head2{
    font-family: bitter;
    color: #2d98da;
    font-size: 40px;
}
p{
    font-family: lato;
    font-size: large ;
    color: dimgray;
}
BODY{
    margin: 0%;
}
.link-button{ text-decoration: none;
    background-image :linear-gradient(90deg,#25CCF7,#1B9CFC );
    padding: 10px 20px;
    border-radius:6px;
    font-family: roboto slab;
    color: white;
    font-size: bold;}
    .top-area{
        width: 40%;
        margin: 2%;
        padding: 3%;
        float:left;
        
    }
    .top-area img{
        width: 500px;
        float: left;
        
    }
    .contact-info{
        font-family: lato;
        color: rgb(66, 66, 66);
        text-align: left;
        float: right;
        margin: 2%;}
         
            
        
        
        #size{
            padding-top: 100%;
            text-align: center;
            font-family:bitter;
            font-size: 40px;
            color: rgb(97, 97, 97) ;
        }
        #c{
            color:white;
            border: 2px solid;
            border-color: rgb(236, 236, 236);
            background-color: #25CCF7;
            border-radius: 10px;
        }
    
            
        
        .bottom{
            
            width: 22%;
            margin: 2%;
            padding: 1%;
            box-shadow: 5px 5px 10px rgb(141, 141, 141);
            border-radius: 10px;
            float: left ;
            position: relative;
            left: 9%;


            
            

        }
        .bottom img{
            width: 300px;
        }
        .text{font-family: bitter ;
            color: rgb(97, 97, 97)}
            #work{
                font-family: bitter;
                font-size: 40px;
                text-align: center;
                
            }
           
            .back{
                background-image:  url("images/back.png");
                background-position: right;
                background-size: cover;
                background-repeat: no-repeat;
                float:center;
                padding:15%;
                margin:40%;
                
                
                
            }